.navbar {
    background-color: royalblue;   
    display: block; 
}

.navauth {
    display: inline-flex;
}

.a_link {
        text-decoration: none;
        color:white;
        margin: 0.5rem;
}

.orange_line {
    background-color: orange;
    height: 0.25rem;
}

.score {
    text-decoration: none;
    color:white;
    margin: 0.5rem;
}

.a_link a:visited{
    color: white;
}

.btn {
    background-color: inherit;
    border: royalblue;
}