.home-body {
  margin-bottom: 40px;
  margin-left: 60px;
  margin-right: 60px;
}

.button1 {
  background-color: royalblue;
}

.button2 {
  background-color: orange;
}
.button3 {
  background-color: green;
  width: 100%;
}

.category {
  background-color: #3a3a3a;
  color: white;
}
