.navbarbrown {
    background-color: #9c835f;
  }
  
  .kontenbrown {
    background-color: #9c835f;
    padding-bottom: 92px;
  }
  
  .vs {
    font-size: 5rem;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .backgroundBrown {
    background-color: #9c835f;
  }
  
  .playerWin {
    color: white;
    transform: rotate(-40deg);
    background-color: green;
    display: none;
    font-size: 70px;
  }
  .batu {
    cursor: pointer;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .kertas {
    cursor: pointer;
  }
  
  .gunting {
    cursor: pointer;
  }
  
  .reload {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .reload:hover,
  .active {
    box-shadow: 0px 0px 10px 10px rgb(241, 238, 37);
    animation: putar 2s infinite;
  }
  
  @keyframes putar {
    0% {
      transform: rotate(90deg);
    }
    25% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .batu:hover,
  .kertas:hover,
  .gunting:hover,
  .active {
    box-shadow: 0px 0px 10px 10px rgb(255, 217, 0);
    background-color: #c4c4c4;
  }
  
  .batu:active,
  .kertas:active,
  .gunting:active {
    top: 2px;
  }

  