@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
  font-family: "Montserrat", sans-serif;
}

.main {
  background-color: #3a3a3a;
}

.column:nth-child(2) {
  margin-top: 4rem;
  margin-left: 0rem;
}

.column {
  margin: 4rem;
}

.btngame {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0.5rem;
  background-color: orange;
  color: white;
  border: none;
  outline-style: none;
  text-align: center;
}

.btngame:hover {
  color: orange;
  background-color: black;
  opacity: 75%;
}

.img {
  border-radius: 1rem;
  box-shadow: 0rem 0.5rem 1rem #00000080;
}

.btndetail {
  padding: 0.5rem 10rem 0.5rem 10rem;
  background-color: orange;
  outline-style: none;
  border: none;
  margin: 5vh auto;
  margin-bottom: 5vh;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  display: block;
  width: 50%;
  justify-content: center;
}

.btndetail:hover {
  background-color: white;
  color: royalblue;
  border: royalblue;
  outline-style: solid;
  font-weight: 500;
}

.p {
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: justify;
  color: white;
}

.judul {
  font-weight: 600;
  letter-spacing: 0.3rem;
  color: orange;
  text-shadow: 2px 2px 0px #00000080;
}

.judul:hover {
  color: darkolivegreen;
}

.table {
  margin: 3rem auto;
  font-family: "Montserrat", sans-serif;
  border-collapse: collapse;
  width: 50%;
}

.td {
  border: 1px solid orange;
  text-align: center;
  padding: 8px;
  color: white;
}

.Link a td:hover {
  color: orange;
}

.td2 {
  border: 1px solid orange;
  text-align: center;
  padding: 8px;
  color: white;
  background-color: #5b5b5b;
}

.th {
  background-color: orange;
  color: white;

  text-align: center;
  padding: 8px;
  columns: white;
}

.tr {
  border: 2px solid orange;
}
