.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: royalblue;
    color: white;
    text-align: center;    
    padding: 4px;
    font-size: medium;
    display: block;
}

.orange_line {
    background-color: orange;
    height: 0.25rem;
}

.img {
	border-radius: 1rem;
	box-shadow: 0rem 0.5rem 1rem #00000080;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.img2{
	border-radius: 1rem;
	box-shadow: 0rem 0.5rem 1rem #00000080;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: white;
}