@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
  font-family: "Montserrat", sans-serif;
}

.column:nth-child(2) {
  margin-top: 4rem;
  margin-left: 0rem;
}

.column {
  margin: 4rem;
}

.btngame {
  position: absolute;
  left: 24%;
  top: 70%;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0.5rem;
  background-color: orange;
  color: white;
  border: none;
  outline-style: none;
}

.btngame:hover {
  color: orange;
  background-color: white;
  font-weight: 500;
}

.img {
  border-radius: 1rem;
  box-shadow: 0rem 0.5rem 1rem #00000080;
}

.btndetail {
  padding: 0.5rem 10rem 0.5rem 10rem;
  background-color: orange;
  margin-left: 0rem;
  outline-style: none;
  border: none;
  margin-bottom: 1rem;
  color: white;
  border-radius: 0.5rem;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.btndetail:hover {
  background-color: white;
  color: royalblue;
  border: royalblue;
  outline-style: solid;
  font-weight: 500;
}

.p {
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: justify;
  color: white;
}

.judul {
  font-weight: 600;
  letter-spacing: 0.3rem;
  color: orange;
  text-shadow: 2px 2px 0px #00000080;
  margin-top: -30%;
}

.judul:hover {
  color: darkolivegreen;
}
@media only screen and (max-width: 576px) {
  .container {
    padding-right: 70px;
  }
}
