.profileCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 750px;
  margin: 10vh auto;
  text-align: center;
  font-family: arial;
  align-self: center;
  background-color: honeydew;
  border-radius: 10%;
}

.profileTitle {
  color: royalblue;
  font-size: 50px;
}
.profileText {
  color: rgb(206, 152, 3);
  font-size: 30px;
}

.main {
  background-color: #3a3a3a;
  padding: 10vh;
}

.profileButton {
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: orange;
  text-align: center;
  cursor: pointer;
  width: 40%;
  font-size: 18px;
  border-radius: 10%;
}

.profileButton2 {
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: royalblue;
  text-align: center;
  cursor: pointer;
  width: 40%;
  font-size: 18px;
  border-radius: 10%;
}

.profileButton:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 576px) {
  .profileCard {
    margin: 0;
    max-width: 1500px;
    border-radius: 0;
  }
  .main {
    padding: 0;
  }
}
